[
    {transaction, [
        {port, 8000},

        {palma_pools, [
            {
                dbro_pool,
                10,
                {
                    mysql_read_pool_id,
                    {
                        mysql,
                        start_link,
                        [
                            [
                                {host, "localhost"},
                                {port, 3306},
                                {database, "transaction"},
                                {user, "root"},
                                {password, "rootpassword"},
                                {keep_alive, 10000},  %% send mysql ping every 10 seconds if not used
                                {connect_timeout, 20000},  %% millisecond connect timeout
                                {query_cache_time, 5000},
                                {tcp_options, [{buffer, 20024000}]}
                            ]
                        ]
                    },
                    {permanent, 5},  %% see palma_supervisor2 (delay of 5 seconds)
                    5000,
                    worker,
                    [mysql]
                },
                10000,
                #{min_alive_ratio => 1.0, reconnect_delay => 4000}
            }
        ]}
    ]}
].